#welcome_header {
  color: rgb(230,230,226);
  font-family: "Quicksand";
}

#welcome_subheader {
  color: rgb(230,230,226);
  font-family: "Quicksand";
}

#faq-header {
  color: rgb(230,230,226);
  font-family: "Quicksand";
}
.faq-question {
  color: rgb(230,230,226);
  font-family: "Quicksand";
}
